body{
 	margin: 0px;
}
h3{
	color: #5E5D5C;
	text-decoration: underline;
}
.flex{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
}
.flex-row{
	flex-direction: row;
}


/*Header Section*/
header{
 	height: 100vh;
 	background-color: lightblue;
 	color: #FFFFFF;
}

header h3{
	color: #FFFFFF;
    text-decoration: none;
}

/*About Section*/
.about{
	color: #5E5D5C;
}
.about img{
	border-radius: 100px;
}

/*Image Gallery*/
.image_gallery{

}

/*Connect Section*/
.connect{
	color: #5E5D5C;
}
.btn{
	margin: 10px;
}

/*Footer*/
footer{
	background-color: #5E5D5C;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
footer a{
	color: #FFFFFF;
}